* {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: inherit;
  line-height: normal;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
